$colors: (
  neutral: (
    100: hsl(240, 30%, 99%),
    200: hsl(240, 30%, 97%),
    300: hsl(240, 29%, 92%),
    400: hsl(240, 29%, 84%),
    500: hsl(240, 8%, 49%),
    600: hsl(240, 31%, 23%),
    700: hsl(240, 100%, 10%),
    800: hsl(240, 100%, 6%),
    900: hsl(240, 100%, 2%),
  ),
  primary: (
    100: hsl(29, 45%, 98%),
    200: hsl(28, 45%, 86%),
    300: hsl(28, 45%, 74%),
    400: hsl(28, 45%, 62%),
    500: hsl(28, 53%, 50%),
    600: hsl(28, 53%, 40%),
    700: hsl(28, 53%, 30%),
    800: hsl(28, 53%, 20%),
    900: hsl(29, 53%, 10%),
  ),
);
