$colors: (
  neutral: (
    100: hsl(240, 30%, 99%),
    200: hsl(240, 30%, 97%),
    300: hsl(240, 29%, 92%),
    400: hsl(240, 29%, 84%),
    500: hsl(240, 8%, 49%),
    600: hsl(240, 31%, 23%),
    700: hsl(240, 100%, 10%),
    800: hsl(240, 100%, 6%),
    900: hsl(240, 100%, 2%),
  ),
  primary: (
    100: hsl(240, 100%, 90%),
    200: hsl(240, 100%, 80%),
    300: hsl(240, 100%, 70%),
    400: hsl(240, 100%, 60%),
    500: hsl(240, 100%, 50%),
    600: hsl(240, 100%, 40%),
    700: hsl(240, 100%, 30%),
    800: hsl(240, 100%, 20%),
    900: hsl(240, 100%, 10%),
  ),
);
