// Flexbox wrap
$flex-wrap: (
  wrap: wrap,
  nowrap: nowrap,
);

// Flexbox direction
$flex-direction: (
  row: row,
  row-reverse: row-reverse,
  col: column,
  col-reverse: column-reverse,
);

// Justify and align items/content
$placement: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  stretch: stretch,
  baseline: baseline,
);

// Align-content utility map
$align-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch,
);

// Flex grow/shrink utility map
$flex-grow: (
  0: 0,
  1: 1,
  2: 2,
);

$flex-shrink: (
  0: 0,
  1: 1,
  2: 2,
);

$grid-columns: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  6: 6,
  12: 12,
);
