$sizes: (
  0: 0,
  1: 0.5rem,
  2: 0.75rem,
  3: 1rem,
  4: 1.5rem,
  5: 2.25rem,
);

$pixels: (
  16: 16px,
);

$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
  "6xl": 3.75rem,
);

$radii: (
  none: 0,
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.75rem,
  pill: 9999px,
  circle: 50%,
);

$fw-400: 400;
$fw-700: 700;
