@use "../abstracts" as *;

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
.link {
  color: #7a7aff;
  transition: color 100ms ease-in-out;
}
.link:hover {
  color: #535bf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-exo;
  line-height: 1.2;
}

ul {
  list-style: none;
}

button {
  border: none;
  color: inherit;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: clr(neutral, 900, 0.5);
  backdrop-filter: blur(4px);
  z-index: 10;
  display: none;
}

.App {
  font-size: 13px;
  font-size: clamp(13px, 1.5vw, 15px);
}

.main {
  padding-block-start: 5em;
  padding-block-end: 2em;
}

.main__section {
  padding-block: 4em;
}

.container {
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
}

.page {
  padding-block-start: 10em;
  padding-block-end: 4em;
}

.page__title {
  color: clr(primary, 900);
  font-size: clamp(1.5em, 3vw, 2.25em);
  font-weight: 500;
  margin-block-end: 0.7em;
}

.page__description {
  font-size: 1.08125em;
  max-width: max(40rem, 60%);
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.bg-pattern {
  background-image: url("../../images/background-pattern.png");
  background-size: 200px 200px;
  background-position: 0 0;
}
