@use "../abstracts" as *;

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
.link {
  color: #7a7aff;
  transition: color 100ms ease-in-out;
}
.link:hover {
  color: #535bf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-exo;
  line-height: 1.2;
}

ul {
  list-style: none;
}

button {
  border: none;
  color: inherit;
  background: none;
  font-family: inherit;
  cursor: pointer;
}
