@use "../abstracts" as *;

.practice {
  &__form {
    background-color: clr(neutral, 100);
    border-radius: radius(lg);
  }

  &__fieldset {
    border: 0;

    label {
      cursor: pointer;
    }

    .custom-input {
      appearance: none;
      width: 0;
      height: 0;
      margin: 0;
      position: absolute;

      &__name {
        display: inline-block;
        z-index: 1;
        color: clr(primary, 500);
        font-size: 0.875rem;
        font-weight: 600;
        position: relative;
      }
    }

    &--legend {
      font-size: 0.875rem;
      font-weight: 600;
      color: clr(primary, 900);
    }
  }

  &__topic {
    &--item {
      position: relative;

      [type="checkbox"] {
        &:checked + .practice__topic--item__name {
          background-color: clr(primary, 500);
          color: clr(primary, 100);
          border-color: clr(primary, 500);
        }
      }

      &__name {
        border: 2px solid clr(primary, 300);
        border-radius: radius(md);
        min-width: max-content;
        overflow: hidden;

        &:hover {
          border-color: clr(primary, 500);
          background-color: clr(primary, 500, 0.1);
          color: clr(primary, 600);
        }
      }

      &__icon {
        position: absolute;
        bottom: -25%;
        right: -10%;
        font-size: 3.5rem;
        color: clr(neutral, 700, 0.1);
      }
    }
  }

  &__type {
    &--list {
      position: relative;
      background-color: clr(primary, 500, 0.1);
      max-width: max-content;
      border-radius: radius(md);
    }

    &--item {
      position: relative;

      [type="radio"] {
        &:checked + .practice__type--item__name {
          color: clr(primary, 100);
        }
      }

      &__name {
        min-width: max-content;
        transition: color 250ms ease;

        &:hover {
          color: clr(primary, 600);
        }
      }
    }

    &--slider {
      position: absolute;
      top: spacing(1);
      left: spacing(1);
      bottom: spacing(1);
      width: 6.5rem;
      background-color: clr(primary, 500);
      border-radius: radius(sm);
      box-shadow: $shadow-md;
      transition:
        left 250ms ease,
        width 150ms ease;
    }
  }

  &__timing {
    &--checkbox {
      &__label {
        position: relative;
        width: 4rem;
        height: 2rem;
        border-radius: radius(pill);
        background-color: clr(primary, 500, 0.1);
        transition: background-color 250ms ease;

        [type="checkbox"] {
          &:checked + .practice__timing--checkbox__slider {
            left: calc(50% + 0.25rem);
          }
        }

        &.checked {
          background-color: clr(primary, 500);
        }
      }

      &__slider {
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: clr(primary, 100);
        border-radius: radius(pill);
        box-shadow: $shadow-md;
        transition: left 250ms ease;
      }
    }
  }
}
