@use "../abstracts" as *;

.practice {
  &__header {
    background-color: clr(neutral, 100);
    border-radius: radius(lg);

    &--left {
      flex: 1;
      width: 100%;

      &__progressbar {
        flex: 1;
      }
    }

    &--badge {
      background-color: clr(neutral, 200);
      border-radius: radius(md);
      transition:
        background-color 250ms ease,
        color 250ms ease;

      &__value {
        font-size: fs(sm);
        font-weight: 600;
      }
    }

    &--hint__button {
      &:hover {
        background-color: clr(neutral, 300);
        color: clr(neutral, 900);
      }
    }

    &--timer {
      &.timer--warning-yellow {
        background-color: clr(alert, 400);
        color: clr(alert, 600);

        &__icon {
          color: clr(alert, 600);
        }
      }

      &.timer--warning-red {
        background-color: clr(alert, 700);
        color: clr(alert, 900);

        &__icon {
          color: clr(alert, 900);
        }
      }
    }

    &--progress {
      &:hover .practice__header--progress__bar::before {
        opacity: 1;
      }

      &__rail {
        flex: 1;
        background-color: clr(neutral, 300);
        border-radius: radius(md);
      }

      &__bar {
        position: relative;
        height: 0.5rem;
        background-color: clr(primary, 500);
        border-radius: radius(sm);
        transition: width 250ms ease;

        &::before {
          content: attr(data-progress);
          position: absolute;
          top: 350%;
          left: 90%;
          min-width: max-content;
          transform: translateY(-50%);
          color: clr(primary, 700);
          background-color: clr(neutral, 200);
          border-radius: radius(sm);
          padding: 0 0.5rem;
          font-size: 0.75rem;
          font-weight: 500;
          opacity: 0;
          transition: opacity 250ms ease;
        }
      }
    }
  }

  &__title {
    font-size: fs("2xl");
  }

  &__form {
    .form {
      &__container {
        display: flex;
        flex-direction: column;
        gap: spacing(3);
      }
    }

    &--section {
      background-color: clr(neutral, 100);
      border-radius: radius(xl);
    }

    &--group {
      > section {
        flex: 1;
        min-width: max-content;
      }

      .practice__form--submit {
        button {
          width: 100%;
          justify-content: center;
          font-size: fs(lg);
          padding: 0.75em 1.5em;
        }
      }
    }

    &--topic {
      &__item {
        .form__checkbox--box {
          font-size: 0.75em;
        }
      }
    }

    &--timer {
      &__value {
        position: relative;
        padding: 0.25em;
        color: clr(primary, 100);
        background-color: clr(primary, 200);
        border-radius: radius(md);
        border: 0;
        transition:
          opacity 250ms ease-in-out,
          background-color 250ms ease,
          color 250ms ease;

        &:hover {
          &::before,
          &::after {
            opacity: 1;
          }
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.35;
          color: clr(neutral, 400);
          background-color: clr(neutral, 300);

          .practice__form--timer {
            &__value {
              &--indicator {
                background-color: clr(neutral, 400);
              }

              &--button {
                color: clr(neutral, 400);
              }
            }
          }
        }

        &::before,
        &::after {
          position: absolute;
          bottom: -1.5em;
          color: clr(neutral, 500);
          font-size: 0.75em;
          font-weight: 700;
          opacity: 0;
          transition: opacity 500ms 150ms ease;
        }

        &::before {
          content: attr(data-min) " mins";
          left: -7%;
        }

        &::after {
          content: attr(data-max) " mins";
          right: -7%;
        }

        &--controls {
          --indicator-width: 0;

          position: relative;
          min-height: 100%;
          border-radius: calc(radius(md) * 0.75);
          overflow: hidden;
        }

        &--display,
        &--button {
          z-index: 1;
        }

        &--button {
          color: clr(primary, 300);

          &:hover {
            color: clr(primary, 100);
          }
        }

        &--display {
          min-width: 4em;
          font-size: fs(lg);
          font-weight: 600;
        }

        &--indicator {
          position: absolute;
          top: 0;
          left: 0;
          width: var(--indicator-width);
          height: 100%;
          background-color: clr(primary, 500);
          border-radius: inherit;
          transition: width 250ms ease;
        }

        &--input {
          width: 0;
          height: 0;
          opacity: 0;
        }
      }
    }
  }

  &__session {
    &--summary {
      &__badge {
        background-color: clr(neutral, 200);
        border-radius: radius(sm);
        font-size: fs(xs);
        font-weight: 600;
        padding: 0.25rem 0.5rem;
      }
    }

    &--card {
      background-color: clr(neutral, 100);
      border-radius: radius(lg);
    }

    &--question {
      font-size: fs("2xl");
      color: clr(primary, 900);
      font-weight: 500;
    }

    &--answer {
      &__options {
        &--truefalse {
          .form__radio--default {
            &__list {
              flex-direction: row;
            }

            &__item--container {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
