@use "../abstracts" as *;

.btn {
  border-radius: radius(md);
  font-size: 1.0125em;

  &__icon {
    padding: 0.5875rem;
    // font-size: 1em;
    color: clr(primary, 100);
    background-color: clr(primary, 200, 0.125);
    border-radius: radius(md);
    transition:
      background-color 100ms ease,
      color 100ms ease;

    .material-symbols-outlined {
      font-size: 1.25em;
    }
  }

  &__primary {
    $bg-color: $clr-primary-gradient-mid;
    $inner-shadow:
      inset 5px 5px 5px 0 clr(primary, 900, 0.05),
      inset -5px -5px 4px 0 clr(primary, 100, 0.05);

    font-weight: 700;
    color: clr(primary, 100);
    background: $bg-color;
    box-shadow: $inner-shadow, $shadow-md;
    transition:
      opacity 100ms ease,
      box-shadow 100ms ease,
      transform 50ms ease;

    &:hover {
      opacity: 0.9;
      box-shadow: $inner-shadow, $shadow-lg;
    }

    &:active {
      transform: scale(0.98);
      box-shadow: $shadow-sm;
    }
  }

  &__secondary {
    --border-width: 0.125rem;

    font-weight: 700;
    color: clr(primary, 500);
    outline: 0.125rem solid clr(primary, 300);
    box-shadow: $shadow-sm;
    transition:
      background-color 100ms ease,
      box-shadow 100ms ease,
      transform 50ms ease,
      color 100ms ease;

    &:hover {
      color: clr(primary, 100);
      background-color: clr(primary, 400);
      border-width: 0rem;
      box-shadow: $shadow-md;
    }

    &:active {
      transform: scale(0.98);
      background-color: clr(primary, 400);
      box-shadow: $shadow-sm;
    }

    .btn__icon {
      padding: 0.525rem;
      color: clr(primary, 500);
      outline: 0.125rem solid clr(primary, 300);
    }

    &:hover .btn__icon {
      background-color: clr(primary, 400);
      color: clr(primary, 100);
    }
  }

  &__tertiary {
    font-weight: 600;
    color: clr(primary, 500);
    background-color: clr(primary, 100);
    box-shadow: $shadow-sm;
    transition:
      background-color 100ms ease,
      box-shadow 100ms ease,
      transform 50ms ease,
      color 100ms ease;

    &:hover {
      color: clr(primary, 600);
      background-color: clr(primary, 200);
      box-shadow: $shadow-md;
    }

    &:active {
      transform: scale(0.98);
      background-color: clr(neutral, 800);
      box-shadow: $shadow-sm;
    }

    .btn__icon {
      color: clr(primary, 500);
      background-color: clr(primary, 200, 0.25);
    }

    &:hover .btn__icon {
      color: clr(primary, 600);
      background-color: clr(primary, 300);
    }
  }
}
