@use "../abstracts" as *;

.form {
  &__field {
    &set {
      border: 0;
    }

    &--label {
      display: block;
      font-size: 0.875rem;
      font-weight: 600;
      color: clr(primary, 900);
    }
  }

  &__input {
    &--item__input {
      padding: 0.75rem 1rem;
      width: 100%;
      color: clr(primary, 700);
      background-color: clr(primary, 500, 0.1);
      border-radius: radius(md);
      box-shadow:
        inset 0 4px 6px clr(primary, 500, 0.1),
        inset 0 -4px 6px clr(primary, 500, 0.05);
      border: 0;

      &:focus {
        outline: 2px solid clr(primary, 500);
        outline-offset: 2px;
      }

      &::placeholder {
        font-style: italic;
      }

      &.textarea {
        min-height: 7rem;
        resize: none;
      }
    }
  }

  &__radio {
    &--item {
      display: inline-block;
      width: 100%;

      &__input {
        appearance: none;
        position: absolute;
      }

      &__content {
        display: inline-block;
        width: 100%;
      }
    }

    &--slider {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: clr(primary, 500);
      border-radius: calc(radius(md) * 0.75);
      box-shadow: $shadow-md;
      transition:
        left 250ms ease,
        width 150ms ease;
    }

    // VARIANTS
    &--default {
      &__item {
        &--input {
          &:checked + .form__radio--default__item--content {
            background-color: clr(primary, 500);
            color: clr(primary, 100);
            border-color: clr(primary, 500);
          }
        }

        &--content {
          padding: 0.75rem 1rem;
          position: relative;
          width: 100%;
          color: clr(primary, 500);
          font-size: 0.875rem;
          font-weight: 600;
          background-color: clr(primary, 500, 0.1);
          border-radius: radius(md);
          cursor: pointer;
          transition:
            background-color 250ms ease,
            color 250ms ease,
            border-color 250ms ease;

          &:hover {
            border-color: clr(primary, 500);
            background-color: clr(primary, 500, 0.2);
            color: clr(primary, 700);
          }
        }
      }
    }

    &--rail {
      &__container {
        max-width: max-content;
        color: clr(primary, 500);
        background-color: clr(primary, 200);
        padding: 0.25rem;
        border-radius: radius(md);
      }

      &__list {
        position: relative;

        .form__field {
          z-index: 1;
        }
      }

      &__item {
        &--input {
          &:checked + .form__radio--rail__item--content {
            color: clr(primary, 100);
          }
        }

        &--content {
          display: inline-block;
          padding: 0.5rem 0.75rem;
          position: relative;
          font-size: clamp(fs("xs"), 1.5vw, fs(sm));
          font-weight: 500;
          cursor: pointer;
          transition: color 250ms ease;
        }

        &:hover {
          color: clr(primary, 600);
        }
      }
    }
  }
}
