@use "../abstracts" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .container {
    border-radius: radius(pill);

    @include mq("md") {
      padding-inline: spacing(2);
      background-color: clr(neutral, 100);
      box-shadow: $shadow-lg;
      border: $border;
    }
  }

  &__logo {
    border-radius: radius(pill);
    background-color: clr(neutral, 100);
    box-shadow: $shadow-md;

    @include mq("md") {
      box-shadow: none;
    }
  }

  &__nav {
    &--toggle {
      &__button {
        position: relative;
        color: clr(neutral, 700);
        background-color: clr(neutral, 100);
        border-radius: 50%;
        box-shadow: $shadow-md;
        cursor: pointer;
        z-index: 1;

        &:hover {
          background-color: clr(neutral, 400);
        }

        &:active {
          background-color: clr(neutral, 300);
        }

        @include mq("md") {
          display: none;
        }
      }
    }

    &--menu {
      position: absolute;
      padding: 4.5rem spacing(3) spacing(5);
      border-radius: 0 0 radius(lg) radius(lg);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: clr(neutral, 100);
      width: 100%;
      flex-direction: column;
      gap: 0.125em;

      button {
        background-color: clr(neutral, 100);
      }

      &__link {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: inherit;
        // border-radius: radius(lg);
        cursor: pointer;
        z-index: 1;
        transition: background-color 100ms ease;

        &:hover {
          color: clr(neutral, 700);
          background-color: clr(neutral, 200);
        }
      }

      .header__nav--list__dropdown {
        padding-block: 0;
        position: relative;
        text-align: center;

        &--list {
          padding: 0;
          box-shadow: none;
        }

        .header__nav--list {
          &__item {
            z-index: 0;

            &:first-child {
              a {
                border-radius: radius(md) radius(md) 0 0;
              }
            }

            &:last-child {
              a {
                border-radius: 0 0 radius(md) radius(md);
              }
            }
          }

          &__link {
            padding: spacing(1);
            border-radius: 0;
            background-color: clr(neutral, 200, 0.75);
          }
        }
      }
    }

    &--list {
      &__item {
        position: relative;

        &:hover {
          span {
            transform: rotate(180deg);
          }
        }

        span {
          transition: transform 100ms ease;
        }
      }

      &__link {
        --underline-height: 7%;

        position: relative;
        font-size: inherit;
        font-weight: 600;
        padding: spacing(3) 0;
        border-radius: radius(lg);
        transition: color 100ms ease;

        @include before() {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0;
          background: $clr-primary-gradient-mid;
          border-radius: radius(lg) radius(lg) 0 0;
          transition: height 0ms ease;
        }

        &:hover {
          color: clr(primary, 900);
        }

        &.active {
          color: clr(primary, 900);

          &:before {
            transition: height 200ms ease;
            height: var(--underline-height);
          }
        }
      }

      &__dropdown {
        position: absolute;
        top: calc(100% + 0rem);
        left: 0;

        &--list {
          background-color: clr(neutral, 100);
          border-radius: radius(sm);
          box-shadow: $shadow-md;
        }

        .header__nav--list__link {
          width: 100%;
          min-width: max-content;
          display: inline-block;
          padding: 0;

          &::before {
            display: none;
          }
        }
      }
    }
  }
}
